### Development tools ###
pytest
pytest-flakes
pytest-isort
pytest-mypy
pytest-pycodestyle
tox

### Project packages ###
pybind11
gdown
gensim
fasttext
langdetect
lyricsgenius
numpy
nltk
pandas
pytorch-lightning
requests
scikit-learn
torch
