### Development tools ###
pytest
pytest-flakes
pytest-isort
pytest-mypy
pytest-pycodestyle
tox

### Project packages ###
pybind11
gdown
gensim
contractions
fasttext
flask
kaggle
imbalanced-learn
langdetect
lyricsgenius
matplotlib
numpy
nltk
pandas
pytorch-lightning
requests
scikit-learn
seaborn
torch
